h1 {
    color: red;
}

head {
    background-color: black;
    text-align: center;
    color: white;
}

header {
    background-color: black;
    text-align: center;
    color: white;
}

body {
    background-color: black;
    text-align: center;
    color: white;
}

p {
    color: white;
}

section {
    color: white;
}



/*SELECTOR DE ID = # + NOMBRE*/

.btn-primary {
    display: inline-block;
	font-weight: 500;
	color: #212529;
	text-align: center;
	border: 1px solid transparent;
	padding: .375rem .75rem;
	font-size: 1rem;
	line-height: 1.5;
	border-radius: .25rem;
	color: #fff;
	background-color: gray;
  }
#arriba {
    background-color: beige;
}

.nav-item {
	font-weight: 600;
	text-align: center;
	font-size: 1.2rem;
	color: #fff;
}
/*Tamaño de letra*/
.letra-grande {
    font-size: 30px;
}

.selector-for-some-widget {
    box-sizing: content-box;
}

.carousel .item {
    height: 100px;
}

.item img {
    position: absolute;
    top: 0;
    left: 0;
    min-height: 300px;
}